# intermediary quarto files
/examples/**/*.md
/specs/generate-validation-schema.md
/specs/module-functions.md
/validation-rules/*.md
/index-content.md

# intermediary files from running quarto
*.ipynb
*_files/

# intermediary sphinx files
/build/
